amqp
asgiref
billiard
celery
cffi
click
click-didyoumean
click-plugins
click-repl
colorama
openpyxl
cron-descriptor
cryptography
crispy-bootstrap5
dj-database-url
dj-rest-auth
Django
django-allauth
django-celery-beat
django-ckeditor
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-filter
django-js-asset
django-redis
django-timezone-field
djangorestframework
djangorestframework_simplejwt
drf-yasg
Faker
gunicorn
idna
inflection
iniconfig
kombu
numpy
packaging
pillow
pluggy
prompt_toolkit
psycopg2-binary
pycparser
Pygments
PyJWT
pytest
pytest-django
python-crontab
python-dateutil
python-decouple
pytz
PyYAML
redis
requests
six
sqlparse
tzdata
tzlocal
uritemplate
urllib3
vine
wcwidth
whitenoise
gunicorn
