{% extends 'base.html' %}

{% block content %}

<!-- Company Banner -->

<section class="company-banner">

    <h1 id="companyName">
        Company Name
    </h1>

    <div id="companyInfo">

        <!-- JS Render -->

    </div>

</section>

<hr>

<!-- Reputation Index -->

<section>

    <h2>
        Employer Reputation Index
    </h2>

    <div id="reputationContainer">

        <!-- 8.4 / 10 -->

    </div>

</section>

<hr>

<!-- Category Scores -->

<section>

    <h2>
        Category Scores
    </h2>

    <div id="categoryScoresContainer"
         class="score-grid">

        <!-- JS Render -->

    </div>

</section>

<hr>

<!-- Recent Reviews -->

<section>

    <h2>
        Recent Reviews
    </h2>

    <div id="reviewsContainer">

    </div>

</section>

<hr>

<!-- Compensation Overview -->

<section>

    <h2>
        Compensation Overview
    </h2>

    <div id="compensationContainer">

        <!-- JS Render -->

    </div>

</section>

<script src="/static/js/api.js"></script>
<script src="/static/js/company_detail.js"></script>

{% endblock %}