{% extends 'admin/admin_base.html' %}

{% block admin_content %}

<h2>Export Data</h2>

<section class="export-options">

    <div>

        <h3>Reviews</h3>

        <button id="exportReviewsCsv">
            Export CSV
        </button>

    </div>

    <div>

        <h3>Compensation</h3>

        <button id="exportCompCsv">
            Export CSV
        </button>

    </div>

    <div>

        <h3>Companies</h3>

        <button id="exportCompaniesCsv">
            Export CSV
        </button>

    </div>

</section>

{% endblock %}