<aside class="admin-sidebar">

    <a href="{% url 'admin-dashboard' %}">
        Dashboard
    </a>

    <a href="{% url 'moderation' %}">
        Moderation
    </a>

    <a href="{% url 'reports' %}">
        Reports
    </a>

    <a href="{% url 'fraud' %}">
        Fraud Detection
    </a>

    <a href="{% url 'users' %}">
        User Management
    </a>

    <a href="{% url 'admin-analytics' %}">
        Analytics
    </a>

    <a href="{% url 'export' %}">
        Export
    </a>

</aside>